<!--使用dynamic_form插件也可以,不过需要更改成中文支持之类的,有时间修改下这个插件.-->
<% if user.present? && user.errors.any? %>  
   <ul>  
   <% user.errors.full_messages.each do |msg| %>  
   <li><%= msg %></li>  
   <% end %>  
   </ul>  
 <% end %>  
