<!--第一行的意思是如果没有指定field_title的话就将其设为nil,然后再第四行中就可以使用field的智能转换了-->
<%field_title=nil if not defined?(field_title)-%>
<div class="form_row">
		<label for="<%=field%>"><%=field_title||field.humanize %>:</label>
		<%=form.password_field field,:size=>User::PASSWORD_SIZE,:maxlength=>User::PASSWORD_MAX_LENGTH %>
</div>
