<h1>Site Help</h1>
<p>Can I help you?</p>
<p>Yes, of cause......</p>
<p>But what I can do for you?</p>
<p>......<p>
<p>帮助嘛,这个是个问题......</p>
<p>------------------</p>
<p>以下为网址更新日志</p>
<hr width="100%">我在网址上加入了google analytics</hr>
<hr width="100%">我在网址中加入拉Google Map. 2011.4.11</hr>
<hr width="100%">修正了Google Map,并调整js.2011.4.12--:可以睡个好觉喽......</hr>
