<h1>Site:This is the Site</h1>
<p>Hello rubier,this is the index.</p>
<p>Welcome to the rails space!</p>
<p>Hello 各位rubier,这是网址的首页</p>
<p>欢迎光临我的网站</p>
<p>------------------</p>
<p>以下为网址更新日志</p>
<p>我在网址上加入了google analytics</p>
<p>我在网址中加入拉Google Map. 2011.4.11</p>
<p>修正了Google Map,并调整js.2011.4.12--:可以睡个好觉喽......</p>
